@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Forgot Password?";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>
<h2>@ViewData["Title"]</h2>
<style>
	h2 {
		color: darkolivegreen;
		/*font-family: Castellar;*/
		margin-top: 50px;
		font-size: 40px;
	}
</style>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
	<div class="text"
		 style="color: darkolivegreen; font-size: 20px; margin-top: 30px;">
		<p>That`s OK, it happens! </p>
		<p>Please enter your e-mail and click on the button to reset your password.</p></>
	</div>

	@*<div asp-validation-summary="All" class="text-danger"></div>*@
	<div class="form-group">
		@*<label asp-for="Email" class="col-md-2 control-label"></label>*@
		<div class="col-md-10">
			<input style="
					width: 21rem; height: 3.2rem;
					border-radius: 5px;
					border-color: darkolivegreen;
					background: white;
					font-size : 25px;
					color: darkolivegreen;"
				   asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-primary"
					style="
					font-size: 1.3rem;
					color: black;
					width:9rem; height: 3rem;
					border-width:1px;
					border-radius: 10px;
					border-color: darkolivegreen;
					background: #ba52b7;
					font-weight: normal;
					margin-right: 30px;">
				Send
			</button>
		</div>
	</div>
</form>