@{
	ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>

<div class="text-left">
	<h1 class="display">Welcome to Hermes Chat</h1>
	<style>
		h1 {
			color: darkolivegreen;
			/*font-family: Castellar;*/
			margin-top: 50px;
			font-size: 40px;
		}
	</style>

	<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

@model HermesChatTeamB_v3.ViewModels.LoginViewModel
<form method="post" asp-controller="Account" asp-action="Login">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<meta charset="utf-8" />
	<div class="text-left">
		<div>
			<label style="color: darkolivegreen; font-size: 20px; padding-top: 30px;" asp-for="Email"></label><br />
			<input style="
					width: 21rem; height: 3.2rem;
					border-radius: 5px;
					border-color: darkolivegreen;
					background: white;
					font-size : 25px;
					color: darkolivegreen;"
				   asp-for="Email" />
			<span asp-validation-for="Email"></span>
		</div>
		<div class="password">
			<label style="color: darkolivegreen; font-size: 20px; padding-top: 20px;" asp-for="Password"></label><br />
			<input style="
					width: 21rem; height: 3.2rem;
					border-radius: 5px;
					border-color: darkolivegreen;
					background: white;
					font-size : 25px;
					font-color: darkolivegreen;"
				   asp-for="Password" />
			<span asp-validation-for="Password"></span>
		</div>
		@*<div>
			<label asp-for="RememberMe"></label><br />
			<input asp-for="RememberMe" />
			</div>*@
		<div class="forgotpass" style="padding-top: 30px">

			<input asp-controller="Account" asp-action="ForgotPassword" ForgotPassword type="submit" value="Forgot Password?"
				   style="color: darkolivegreen;
					font-size: 1.3rem;">
		</div>
	</div>


	<div container="btn btn-primary mr-5 ml-5" style="padding-top: 30px;">
		<input type="submit" value="Login"
			   style="
					font-size: 1.3rem;
					text-align: center;
					width:9rem; height: 3rem;
					border-width:1px;
					border-radius: 10px;
					border-color: darkolivegreen;
					background: #ba52b7;
					font-weight: normal;
					margin-right: 50px;" />
		<input asp-controller="Account" asp-action="Register" Register type="submit" value="Registration"
			   style="
					font-size: 1.3rem;
					text-align: center;
					width:9rem; height: 3rem;
					border-width:1px;
					border-radius: 10px;
					border-color: darkolivegreen;
					background: #ba52b7;
					font-weight: normal" />
	</div>
</form>


@if (User.Identity.IsAuthenticated)
{
	<p>@User.Identity.Name</p>

	<form method="post" asp-controller="Account" asp-action="LogOff">
		<input type="submit" value="Sign Out" />
	</form>
}

else
{
@*<a asp-controller="Account" asp-action="Login">Login</a>*@
@*<a asp-controller="Account" asp-action="Register">Register</a>*@
}

